#coaching-overlay-text {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  font-size: 1.5em;
}

.swiper {
  --swiper-navigation-color: white;
  width: 100vw;
}

.sizing-button {
  width: 48px;
  height: 48px;
  padding: 5px;
  font-size: 2em;
  margin: 10px;
}

.scaling-input {
  width: 100px;
  height: 48px;
  font-size: 2em;
  box-sizing: border-box;
  padding-right: 25px;
  text-align: center;
}

.scaling-span::after {
  content: "%";
  position: absolute;
  font-size: 2em;
  transform: translateX(-125%);
}
